
nav{
    padding:7px 12px;
    position: sticky;
    top: 0;
    background-color: white;
    .options{
        display: none;
        a{
            margin-left: 20px;
        }
    }
    .icon{
        cursor: pointer;
    }
}
.subnav{
    transform: translateY(-500%);
    transition: all ease-in-out 0.3s;
}
@media(min-width:768px){
   nav{
    padding:15px 50px;
    .options{
        display: block;
    }
    .icon{
        display: none;
    }
    h1{
        font-size: 1.4rem;
    }
   }
}